.App {
    display: flex;
    min-height: 100vh;
    width: 100vw;
  }
  
  .left {
    background-color: darkslategray;
    color: azure;
  }
  
  .right {
    background-color: wheat;
    color: firebrick;
  }